# Ignore everything
/*

# Except this folder
!/src
!/server
!/server/**
!/tooling
!/tooling/**
!/.github
!tsconfig.json
!terminal.config.mjs
!package.json
!README.md
!README.en.md
!index.html
!.prettierrc
!.eslintrc.json
